<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.soyaa.spring.test.ajax.dao.FavoriteDAO">

<!-- parameterType이 둘다 String 이지만 여러개라면 map으로 잡는 게 편하다 -->
 	<insert id="insertFavorite" parameterType="map">
 		INSERT INTO 
 			`favorite`
 		(
 			`name`
 			, `url`
 			, `createdAt`
 			, `updatedAt`
 		)
 		VALUE
 		(
 			#{name}
 			, #{url}
 			, now()
 			, now()
 		)
 	</insert>
 	
 	<select id="selectFavorite" resultType="com.soyaa.spring.test.ajax.model.Favorite">
 		SELECT 
 			`id`
 			, `name`
 			, `url`
 			, `createdAt`
 			, `updatedAt`
 		FROM 
 			`favorite`
 	</select>
 	
 	<select id="selectCountDuplicateUrl" parameterType="string" resultType="int">
 		SELECT 
 			count(*)
 		FROM
 			`favorite`
 		WHERE
 			`url` = #{url}	
 	</select>
 	
 	<delete id="deleteFavorite" parameterType="int">
 		DELETE FROM
 			`favorite` 
 		WHERE 
 			`id` = #{id};
 	</delete>
 </mapper>